<section class="home_page" ng-controller='orderCtrl as order'>
    <header class="header_site clearfix content container">
        <div class="nav_right">
            <div class="home_page_logo pull-right"><a>کندر</a></div>
            <nav class="menu_nav clearfix">
                <ul>
                    <li ><a href="/#home">صفحه اصلی</a></li>
                    <li><a href="/#robot">ساخت ربات</a></li>
                    <li><a href="/#intro">دانلود</a></li>
                    <li ><a href="/#cooperation">دعوت به همکاری</a></li>
                    <li><a href="/#contactUs">تماس با ما</a></li>
                </ul>
            </nav>
        </div>
        <div class="nav_left">
            <ul class="menu_user">
                <li><a href="/#authenticate">ورود</a></li>
            </ul>
        </div>
    </header>
    <section class="container  clearfix body_context">
        <section class="section_container clearfix">
            <header class="header_news"><h4>خرید پنل مدیریت تلگرام</h4></header>
            <form name="myForm" ng-submit='order.cash(myForm , order.person)'>
                <div class="form_container clearfix">
                    <div class="form_content clearfix">
                        <div class="form_row two_column clearfix">
                            <div>
                                <label for="name">نام:</label>
                                <input ng-model='order.person.name' id="name">
                            </div>
                            <div>
                                <label for="lastname">نام خانوادگی:</label>
                                <input ng-model='order.person.lastname' id="lastname">
                            </div>
                        </div>
                        <div class="form_row two_column clearfix">
                            <div>
                                <label for="phone">شماره موبایل:
                                    <span class="required_sign"
                                                                      ng-show="myForm.phone.$error.required">*</span></label>
                                <input name="phone" id="phone" ng-model='order.person.phone'
                                       ng-pattern=/^[0-9]+$/ id="phone" required>
                                <p class="pattern_error" ng-show="myForm.phone.$error.pattern">شماره تلفن صحیح نیست.</p>
                            </div>
                            <div>

                                <label for="email">ایمیل:<span class="required_sign"
                                                               ng-show="myForm.email.$error.required">*</span></label>
                                <input name="email" ng-model='order.person.email'
                                       ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" id="email" required>
                                <p class="pattern_error" ng-show="myForm.email.$error.pattern">ایمیل معتبر نمی باشد.</p>
                            </div>
                        </div>
                    </div>
                    <div class="form_buttons_container clearfix">
                        <button type="submit">پرداخت</button>
                    </div>
                </div>
            </form>
        </section>
        <footer class="clearfix">
            <div class="social_network clearfix">
                <p>می توانید ما را در شبکه های اجتماعی دنبال کنید:</p>
                <ul class="social_network_list">
                    <li class="social_network_item inestagram"><a href=""></a></li>
                    <li class="social_network_item google"><a href=""></a></li>
                    <li class="social_network_item facebook"><a href=""></a></li>
                    <li class="social_network_item tweeter"><a href=""></a></li>
                </ul>
            </div>
        </footer>
    </section>
</section>